.list {
    display: flex;
    width: 100%;
    
    .listContainer {
      flex: 6;
      color: gray;


      .table{
        background-color: whitesmoke;
        margin-bottom: 0;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(245, 42, 42, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(1, 65, 107, 0.658);

    }
    }
  }