.booking{
    padding: 40px 30px;
    background-color: #04502c4d;
    height: 90%;
    .option{
        width: 180px;

    }

    button{
        margin: 0 2px 5px 2px;
    }
    .add{
        margin-left: 90%;
        
    }

}